[buildout]
parts = deps py
eggs = 
  kivent_cython_modules
  cymunk
  whatever
develop = 
  .
  lib/kivent/kivent_cython
  lib/cymunk

[deps]
recipe = zc.recipe.egg:eggs
eggs = ${buildout:eggs}

[py]
recipe = zc.recipe.egg:script
interpreter = py
eggs = ${buildout:eggs}
